/* General Styles */
.introduction{
position: relative;
padding: 10px;
border-radius: 20px;
display: flex;
justify-content: space-between;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.leftDiv{
    width: 60%;
    height: 100%;
    float: left;
}
.rightDiv{
    width: 30%;
    height: 100%;
    float: right;
}
.container{
    width:100%; 
    height:100px;
}
.btn{
    background: rgb(66, 184, 238);
    color: white;
    position: relative;
    width: fit-content;
padding: 10px;
border-radius: 10px;
display: flex;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
a{
    text-decoration: none;
}
.pdf{
    width: 100%;
    height: 500px;
}
.image{
    height: 100%;
    width:100%;
}

